[Unit]
Description=My Script Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 ~/bcvp/openterminal.py

[Install]
WantedBy=multi-user.target