[Unit]
Description=My Script Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/egoldsbo/bcvp/script.py

[Install]
WantedBy=multi-user.target